.loan-section {
  padding: 80px 7%;
  background: #f4f8fc;
}

.loan-section h2 {
  text-align: center;
  font-size: 42px;
  font-weight: 700;
  color: #222;
  margin-bottom: 60px;
}

.loan-card {
  background: #fff;
  height: 330px;
  border-radius: 16px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.08);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  transition: 0.35s;
}

.loan-card img {
  width: 90px;
  margin-bottom: 30px;
  transition: 0.35s;
}

.loan-card h3 {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color: #222;
  margin-bottom: 35px;
  transition: 0.35s;
}

.loan-btn {
  padding: 14px 34px;
  border: 2px solid #2e62ae;
  background: white;
  color: #2e62ae;
  border-radius: 40px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.35s;
}

/* Hover */

.loan-card:hover {
  background: #2e62ae;
  transform: translateY(-8px);
}

.loan-card:hover h3 {
  color: white;
}

.loan-card:hover img {
  transform: scale(1.12);
}

.loan-card:hover .loan-btn {
  background: white;
  color: #2e62ae;
}

/* Pagination */

.swiper-pagination {
  position: relative;
  margin-top: 40px;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #b7c3d0;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  width: 30px;
  border-radius: 20px;
  background: #2e62ae;
}

/* Mobile */

@media (max-width: 992px) {
  .loan-section {
    padding: 60px 20px;
  }

  .loan-section h2 {
    font-size: 30px;
  }

  .loan-card {
    height: 280px;
  }

  .loan-card h3 {
    font-size: 24px;
  }

  .loan-btn {
    font-size: 16px;
    padding: 12px 28px;
  }
}
