.cyber-banner {
  width: 100%;
  background: #f3f3f3;
  padding: 10px 0;
}

.cyber-banner-container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.cyber-banner-image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

/* Tablet */
@media (max-width: 992px) {
  .cyber-banner {
    padding: 20px 0;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .cyber-banner {
    padding: 10px 0;
  }

  .cyber-banner-image {
    width: 100%;
    object-fit: contain;
  }
}
